*{

   margin: 0px;
   padding: 0px;

}

body{

    height: 100vh;  
    background-color: rgb(201, 193, 193);
    

}

.list1{

    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.575);
  

}

li{

    list-style-type: none;
    background-color: gray;
    padding-right: 80%;
    height: 83px;


}

li:hover{

    background-color: white;
    transition: 0.5s;
    
}

li:hover p{

    background-color: rgba(0, 0, 0, 0.671);
    transform: translate(120px);
    visibility: visible;
    position: fixed;
    color: white;  
    width: 130px;
    transform: translateX(120px);
    transition: 1s;

}

p{

    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 100px;
    height: 83px;
    visibility: hidden;
    color: white;
    margin: 0 20px 0 30px;

    

}

ul{
 
   
    padding-left: 0;
    width: 150px;
    

}


img{

    padding-top: 10px;
    padding-left: 30px;
    width: 80px;
    height: 60px;
    float: left;
    
    
}

